# App
NODE_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001

# Database
DATABASE_URL=postgresql://ixon_admin:your_password@localhost:5432/ixon_academy
DB_USER=ixon_admin
DB_PASSWORD=your_password

# Redis
REDIS_URL=redis://localhost:6379

# Auth
NEXTAUTH_SECRET=your-random-32-char-secret-here
NEXTAUTH_URL=http://localhost:3000

# Bunny.net
BUNNY_API_KEY=
BUNNY_LIBRARY_ID=
BUNNY_CDN_URL=

# Payment
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false
XENDIT_SECRET_KEY=

# WhatsApp
FONNTE_API_KEY=
FONNTE_SENDER=

# Email (fallback)
RESEND_API_KEY=
EMAIL_FROM=noreply@academy.ixon.id
